<!DOCTYPE html>

<title>Cumulus Repo</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,200,300'
  rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/css/style.css'>
<div id="content">
<!-- content -->

<h2>Cumulus Repo V2 Beta</h2>
<hr>
<p v-if="errorMsg" v-cloak class="errormessage">{{errorMsg}}</p>
<h1>Assets</h1>
<p v-if="!assets">None Found</p>
<p v-if="assets == 'init'">Loading...</p>
<div v-else v-for="assetGroup in assets.assets">
  <h3>{{ $key }}</h3>
  <table class="table table-bordered">
    <tbody>
      <tr v-for="asset in assetGroup"
          v-on:click="showVersions($parent.$key, $key)">
        <td>
          {{ $key }}
          <table class="table table-bordered versionTable"
              v-if="activeGroup == $parent.$key && activeAsset == $key">
            <thead>
              <tr>
                <th>Version</th>
                <th v-for="version in assets.legend">{{ version }}</th>
              </tr>
            </thead>
            <tbody v-on:click.stop.prevent="">
              <tr v-for="versionList in asset" class="nohl">
                <td>{{ $key }}</td>
                <td v-for="version in versionList">
                  <p v-if="offline($index)" class="redtext">check connection</p>
                  <div v-else>
                    <span v-if="version" class="glyphicon glyphicon-ok"></span>
                    <a v-else v-on:click="transfer($parent.$key, $index)">transfer</a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h1>Active Transfers</h1>
<table v-if="transfers && transfers.length>0" class="table table-bordered ">
  <thead>
    <tr>
      <th>Service</th>
      <th>Asset</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Started By</th>
      <th>More</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="t in transfers"
        v-bind:class="{ 'greenBg': t.finished, 'redBg': t.failed}">
      <td>{{ t.service }}</td>
      <td>{{ t.asset }} ({{ t.version }})</td>
      <td>{{ t.source }}</td>
      <td>{{ t.target }}</td>
      <td>{{ t.creator }}</td>
      <td>
        <a href="/transfers/{{ t._id }}">info</a>
        <a v-on:click="hideTransfer(t._id)" v-if="t.finished">hide</a>
      </td>
    </tr>
  </tbody>
</table>
<p v-else>None</p>
<h1>Currently Offline</h1>
<table v-if="assets.offline && assets.offline.length > 0" class="table">
  <thead>
    <tr><th>Geography</th><th>Service</th></tr>
  </thead>
  <tbody>
    <tr v-for="geo in assets.offline">
      <td>{{ geo[0] }}</td>
      <td>{{ geo[1] }}</td>
    </tr>
  </tbody>
</table>
<p v-else>None</p>
<h1>Team Members</h1>
<p v-if="members.length == 0">None Found</p>
<table class="table table-bordered">
  <tbody>
    <tr v-for="member in members">
      <td class="nohl noclick">{{member}}</td>
    </tr>
    <tr>
      <td class="dim" v-on:click.stop.prevent="toggleEmailField()">
        Add New Member
        <form class="loginform nomargin" action="/members" 
              method="POST" v-if="showEmailForm" v-on:click.stop="">
          <input type="text" placeholder="email address" name="email" />
          <button>Submit</button>
        </form>
      </td>
    </tr>
  </tbody>
</table>

<a href="/signout" class="hrefaction">sign out</a>
<a v-on:click="deleteteam()" class="hrefaction">delete team</a>

<!-- end content -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.25/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.9.3/vue-resource.min.js"></script>
<script src="/js/common.js"></script>
<script>
var UPDATE=1000 * 5;//ms
var VMain = new Vue({
  el: '#content',
  ready: function() {
    var members = this.$resource('/members');
    var transfers = this.$resource('/transfers');
    var assets = this.$resource('/manifest');
    if (getCookie('signal_key')) {
      var key = getCookie('apikey');
      var t = prompt('Copy this key and save it', key);
      eraseCookie('signal_key');
    };
    this.errorMsg = getParameterByName('error');
    transfers.get().then(function(response) {
      this.transfers = response.json();
      console.log('transfers', this.transfers);
    });
    members.get().then(function(response) {this.members = response.json()});
    assets.get().then(function(response) {
      this.assets = response.json();
      var uriParts = location.hash.slice(1).split(':');
      if (uriParts.length == 2) {
        this.activeGroup = uriParts[0];
        this.activeAsset = uriParts[1];
        console.log('set to', this.activeGroup, this.activeAsset);
      }
    });
    /* Update info every UPDATE seconds */
    /*setInterval(function() {
      assets.get().then(function(response) {
        Vue.set(this.assets, 'items', response.json());
      });
    }, UPDATE);*/
  },
  methods: {
    offline: function(index) {
      for (var ix in this.assets.offline) {
        if (this.assets.offline[ix][0] == this.assets.legend[index] &&
            this.assets.offline[ix][1] == this.activeGroup) return true;
      }
      return false;
    },
    toggleEmailField: function() {
      this.showEmailForm = !this.showEmailForm;
    },
    showVersions: function(group, asset) {
      if (group === this.activeGroup && asset === this.activeAsset) {
        this.activeAsset = null;
        this.activeGroup = null;
        location.hash = '';
        return;
      }
      this.activeAsset = asset;
      this.activeGroup = group;
      location.hash = this.activeGroup + ':' + this.activeAsset;
    },
    hideTransfer: function(transferId) {
      this.$resource('/transfers/'+transferId).delete().then(function() {
        window.location.reload();
      });
    },
    transfer: function(version, destination) {
      console.log(this.activeGroup, this.activeAsset, version, destination);
      var versions = this.assets.assets[this.activeGroup][this.activeAsset][version];
      if (versions[destination]) {
        window.location.reload();
        return;
      }
      var source;
      for (var ix in versions) {
        if (versions[ix]) {
          source = ix;
          break;
        }
      }
      if (!source) {
        alert('This asset is not found in any mirrors. Cannot transfer.');
        return;
      }
      var obj = {
        source: this.assets.legend[source],
        service: this.activeGroup,
        asset: this.activeAsset,
        version: version,
        target: this.assets.legend[destination]
      }
      this.$resource('/transfers').save(obj).then(function() {
        window.location.reload();
      });
    },
    deleteteam: function() {
      var t = confirm('Are you sure you wish to delete this team?');
      if (t) {
        this.$resource('/team').delete().then(function(){window.location='/signout'});
      }
    }
  },
  data: {
    errorMsg: false,
    transfers: null,
    activeGroup: null,
    activeAsset: null,
    members: [],
    assets: 'init',
    //assetsN: {"assets":{"Binary Repo":{"testfile":{"1.0.0":[true,false,true,true]}},"Docker Registry":{"sre_demo/nginx":{"v4":[true,true,false,false],"v5":[true,true,true,true]}}},"legend":["Western Europe","IBM SVL Intranet","North America","CDS Dev"]},
    showEmailForm: false,
    activeAsset: null
  }
});
</script>
