[v-cloak] { display: none }
body, html {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  max-width: 800px;
  margin: auto;
}
#content {
  margin-bottom: 20px;
}
h1 {
  font-weight: 100;
}
.highlightbox {
  display: block;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  margin: 36px auto;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 30px;
}
.consoleoutput {
  max-height:300px;
}
.consoleoutput.good {
  background-color: #efffef;
}
.consoleoutput.error {
  background-color: #ffefef;
}
.updatebox {
  margin: 5px inherit;
}
.updatebox.border {
  border: 1px solid grey;
  margin: 20px auto;
  border-left: none;
  border-right: none;
  padding: 20px;
}
.updatedetail {
  font-size: 16px;
}
.timestamp {
  color: grey;
}
.redtext {
  color: red;
}
.greenBg {
  background-color: rgba(0, 128, 0, 0.13);
}
.redBg {
  background-color: rgba(128, 0, 0, 0.13);
}
.versionTable {
  margin-top: 10px;
}
.versionTable td {
  text-align: center;
  vertical-align: middle;
}
.loginform {
  margin: 36px 0px;
}
.loginform input {
  margin: 5px 2px;
  font-size: large;
  padding: 10px;
  border: none;
  border-bottom: solid 1px #333;
  transition: border 0.3s;
  font-weight: 300;
}
.loginform input:focus {
  border-bottom: solid 1px #969696;
}

tbody > tr:hover {
  cursor: pointer;
}
.hoverhl tbody > tr:hover {
  background-color: rgba(0, 126, 255, 0.1);
  cursor: pointer;
}
.noclick {
  cursor: default !important;
}
.nohl {
  background-color: white !important;
}
button {
  color: rgba(0, 0, 0, 0.75);
  background-color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 20px;
  border: solid 1px rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  border-radius: 26px;
}
.errormessage {
  color: red;
}
.dim {
  opacity: .50;
}
.hrefaction {
  margin-right: 15px; 
}
.nomargin {
  margin: 0px;
}
